@font-face {
    font-family: 'airstreamregular';
    font-style: normal;
    font-weight: normal;
    src: url("fonts/Airstream-webfont.eot");
    src: url('fonts/Airstream-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Airstream-webfont.woff') format('woff'),
         url('fonts/Airstream-webfont.ttf') format('truetype'),
         url('fonts/Airstream-webfont.svg#lakeshore') format('svg');   
}

* {
    color: rgb(0, 0, 0);
}

body {
    background: url('../images/panda.jpg');
    background-repeat: repeat;
    background-size: cover;
}

.card-body {
    background-image: linear-gradient(to bottom, green, red);
}

.page-title {
    background-image: linear-gradient(to bottom, grey, #00FFEF);
    font-size: 40px;
    font-family: airstreamregular;
    text-align: center;
    text-transform: uppercase;
    color: rgb(43, 20, 173);
}


html, body {
    height: 100%;
}


.list-item {
   
    display: inline-block;
    max-width: 200px;
    min-width: 200px;
}

.list-image {  
    display: block;
    height: 200px;
    width: 200px;  
}

@media all and (max-width: 480px) {
    .list-item {
        display: grid;
        grid-template-columns: min-content 1fr;
    }
}